  <div class="container-fluid">
    <div class="row navbar-red" id="main">
      <div class="col-md-12 day">
        <h2>Info</h2>
        <p>Ruokalista ei näytä luotettavaa dataa enää kevään 2018 jälkeen.</p>
        <p>Ruokalista näytti ennen kevättä 2018 eilisen, tämän päivän ja huomisen ruoan tietyn kaupungin koulujen ja päiväkotien ruokalistoilta.</p>
        <p>Ruokalistan voi tallentaa sovellukseksi lisäämällä sen koti-valikkoon tai aloitusnäyttöön. Ruokalista on tarkoitettu pääasiallisesti mobiililaitteille.</p>
        <p>Ruokalista tarjosi myös APIn, jolla pystyi noutamaan ruokia sen ruokalistalta</p>
        <p>Ruokalista ei ole yhteydessä Joensuun kapunkiin eikä Polkka Oy:hyn.</p>
        <h2>Linkit</h2>
        <a href="http://polkkaoy.fi/koulut-ja-paivakodit" target="_blank">Polkka oy:n ruokalistat</a><br>
        <a href="/api" target="_blank">Ruokalista API</a><br>
      </div>
      <footer class="col-md-12" id="footer">
        <span>Ruokalista</span>
      </footer>
    </div>
  </div>